.main-layout-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.page{
	height: 100vh;
    padding: 100px 70px 0px 70px;
	transition: margin-left 1s;
	overflow-y: auto;
}

.page-with-navbar{
	margin-left: 248px;
}

@media only screen and (max-width: 768px){
	.page-with-navbar{
		width: 100%;
		margin-left: 0;
	}

}